#back-area {
  cursor: pointer;
}

#back-area > img {
  height: 26px;
}

#back-area > span {
  color: #EE3A57;
}

#title {
  font-size: 28px;
  font-family: 'Poppins Bold';
}

textarea {
  min-height: 150px;
}

textarea, input, #preview-card {
  padding: 20px;
  width: 100%;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  outline: none;
  background-color: #F3F3F3;
  border: 1px solid #D9D9D9;
}

#preview-card {
  cursor: pointer;
  color: #E7E7E7;
  background-color: #25273E;
  min-height: 300px;
}

button {
  color: #E7E7E7;
  background-color: #25273E;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
}

button:hover {
  background-color: #3b3f64;
}
