
<div class="container">
  <div routerLink="/deck" id="back-area" class="d-flex align-items-center mb-3 mt-5">
    <img class="me-3" src="../../assets/icons/back.png" alt="ícone de voltar" />
    <span>voltar</span>
  </div>

  <div id="title" class="mt-5">Criar cartão</div>

  <div class="row mt-4 d-flex align-items-center justify-content-center mb-5">
    <div class="col-12 col-md-6">
      <div class="mb-4">
        <div>Frente do cartão</div>
        <textarea placeholder="Frente..."></textarea>
      </div>
      <div class="mb-4">
        <div>Verso do cartão</div>
        <textarea placeholder="Verso..."></textarea>
      </div>
      <div>
        <div>URL da imagem (opcional)</div>
        <input type="text" placeholder="Url da imagem... "/>
      </div>

      <button class="mt-5">Salvar</button>
    </div>

    <div class="col-12 col-md-6">
      <div id="preview-card" class="d-flex align-items-center justify-content-center">aaaaa</div>
    </div>
  </div>
</div>
