
<div class="container">
  <div routerLink="/deck" id="back-area" class="d-flex align-items-center mb-3 mt-5">
    <img class="me-3" src="../../assets/icons/back.png" alt="ícone de voltar" />
    <span>voltar</span>
  </div>

  <div>
    <span id="title">Estudando: </span>
    <span id="sub-title">Inglês</span>
  </div>

  <div class="row mt-5 d-flex align-items-center justify-content-center">
    <div id="card" class="mb-4 d-flex align-items-center justify-content-center">
      aaaaa
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <button id="previous" class="me-2">
        <img class="me-2" src="../../assets/icons/previous.png" alt="ícone anterior" />
        anterior
      </button>
      <button id="next">
        próximo
        <img class="ms-2" src="../../assets/icons/next.png" alt="ícone proxímo" />
      </button>
    </div>
  </div>
</div>
